.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-text-white);
  background-color: var(--color-text-accent);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  transition: background-color var(--transformation-property);
  padding: 10px 52px;
  &:hover,
  &:focus {
    background-color: var(--color-button-hover);
  }
}
